@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");

.husni * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
/* #loader {
    background: #000 url(Spin@1x-1.2s-200px-200px.gif) no-repeat center;
    background-size: 15%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10000;
} */

.husni-home {
  padding: 50px 10%;
}
.husni-about {
  padding: 50px 10%;
}
.husni-skills {
  padding: 50px 10%;
}
.husni-services {
  padding: 50px 10%;
}
.husni-contact{
  padding: 50px 10%;
}

.husni-active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}

/* body {
  background: var(--bg-color);
  color: var(--text-color);
} */

.husni *::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

.husni-heading {
  text-align: center;
}

.husni-heading h2 {
  font-size: 30px;
}

.husni-heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}

.husni-header {
  /* position: fixed; */
  width: 100%;
  top: 20;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
}
.husni-header a{
  text-decoration: none;
}

.husni-header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.husni-logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}

.husni-logo span {
  font-size: 1.61rem;
  font-weight: 600;
  color: crimson;
}

.husni-navbar {
  display: flex;
}

.husni-navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.husni-navbar a:hover {
  color: var(--hover);
}

.husni #menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.darkmode {
  display: none;
  font-size: 22px;
  cursor: pointer;
  background-attachment: auto;
  background-color:transparent;
  border: none;
}
.husni-navbar .darkmode:hover {
  color: var(--hover);
}



.husni-home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.husni-home-img {
  order: 3;
}

.husni-home-img img {
  width: 100%;
  border-radius: 28%;
}

.husni-home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.husni-home-text h1 {
  font-size: var(--big-font);
}

.husni-home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.husni-home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.husni-social {
  display: flex;
  flex-direction: column;
}

.husni-social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}

.husni-social a:hover {
  color: var(--hover);
}

.husni-btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}

.husni-btn:hover {
  background: var(--hover);
}


.husni-about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.husni-about-img img {
  width: 80%;
  border-radius: 5rem;
}

.husni-about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.husni-information {
  margin: 1rem 0 1.4rem;
}

.husni-information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.husni-information .info-box .bx {
  font-size: 22px;
}

.husni-information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

.husni-skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.husni-skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
  
}

.husni-bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.husni-bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}

.husni-light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}

.husni-percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}

.husni-skill1-bar {
  width: 94%;
}

.husni-skill2-bar {
  width: 84%;
}

.husni-skill3-bar {
  width: 74%;
}

.husni-skill4-bar {
  width: 80%;
}

.husni-services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.husni-services-box {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}

.husni-services-box:hover {
  background-color: #02225a;
}

.husni-services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.husni-services-box:hover h3 {
  color: #fff;
}

.husni-services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}

.husni-services-box:hover .bx {
  color: #22cf91;
}

.husni-services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

.husni-services-box:hover a {
  color: #8b8a8f;
}

.husni-contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.husni-contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.husni-form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}

.husni-form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

.husni-form textarea {
  resize: none;
  height: 200px;
}

.husni-contact-button {
  width: 160px;
  cursor: pointer;
  background: #2768d9;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}

.husni-contact-button:hover {
  background: var(--hover);
}

.husni-footer {
  display: grid;
  place-items: center;
  padding: 20px;
  color: #000;
}

.husni-footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  color: var(--text-color)
}

.husni-footer-social a i {
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}

.husni-copyright a {
  color: #22cf91;
}

/* For Mobile */
@media (max-width: 991px) {
  .husni-header {
    padding: 18px 4%;
  }

  .husni section {
    padding: 50px 4%;
  }
}

@media (max-width: 881px) {
  .husni :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}

@media (max-width: 768px) {
  .husni :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  

  .husni-header {
    padding: 11px 4%;
  }

  .husni #menu-icon {
    display: initial;
    color: var(--text-color);
  }

  .husni-header .husni-navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }

  .husni-navbar.active {
    top: 100%;
  }

  .husni-navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }

  .husni #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }

  .scroll-down {
    display: none;
  }

  .husni-home {
    grid-template-columns: 0.5fr 3fr;
  }

  .husni-home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }

  .husni-home-img {
    order: initial;
  }

  .husni-about-container {
    grid-template-columns: 1fr;
  }

  .husni-about-img {
    display: flex;
    justify-content: center;
  }

  .husni-skills-container {
    grid-template-columns: 1fr;
  }

  .husni-skills-img img {
    padding-left: 0;
  }

  .husni-skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .husni-contact-form form {
    width: 300px;
  }

  .husni-contact-button {
    margin-left: 25%;
  }
}

@media (max-width: 340px) {
  .husni :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }

  .husni-home-text span {
    font-size: 1rem;
  }

  .husni-home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .husni-information .info-box span {
    font-size: 1rem;
  }

  .husni-contact-form form {
    width: 300px;
  }

  .husni-contact-button {
    margin-left: 25%;
  }
}

